<div class="container">
	
	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h3 class="panel-title">{{discussion.title}}</h3>
	  </div>
	  <div class="panel-body">

	    {{#each responses}}
	    	<div class="panel panel-default">
		    	<div class="panel-heading">
				 <h3 class="panel-title"><a href="/responses/{{this.title}}">{{this.title}}</a><span class="pull-right"> <font size=2 color='grey'><i><a href="/responses/id/{{this.id}}">{{this.id}}</a></i></font></span> </h3>
				</div>
				<div class="panel-body">
					{{this.text}}
				</div>
	    	</div>
	    {{/each}}
	  </div>
	  <div class="panel-footer">Citation id: {{discussion.id}}</br>Created on: {{discussion.created_on}}</div>
	</div>

</div>

<div class="container">
	
	<div class="panel panel-default">
    	
    	<div class="panel-heading">
		 <h3 class="panel-title">Submit a response<span class="pull-right"></h3>
		</div>
		
		<div class="panel-body">
			<form method="POST" action="/responses">
				
				<div class="form-group row">
			     <label for="responseTitle" class="col-sm-2 col-form-label">Argument title*</label>
			      <div class="col-sm-10">
			        <input type="text" class="form-control" data-toggle="popover" data-trigger="focus" data-content="Describe a specific position that you will defend." id="responseTitle" name="responseTitle">
			      </div>
		      	</div>

		        <div class="form-group">
			        <label for="responseText" class="col-sm-2 col-form-label">Response</label>
			        <textarea class="form-control" id="responseText" name="responseText" rows="10"></textarea>
		        </div>

		        <div class="form-group">
				    <div class="offset-sm-2 col-sm-10">
				        <button type="submit" class="btn btn-primary">Submit</button>
				    </div>
			    </div>
			    <input type="hidden" name="discussionId" value={{discussion.id}}>
		    </form>
	    </div>

	</div>

</div>
