<div class="container">
	<ol class="breadcrumb">
	  <li><a href="/responses">Responses</a></li>
	  <li><a href="/responses/{{response_query}}">{{response_query}}</a></li>
	</ol>
	<h2>{{title}}</h2>
	<div class="row">
	
	{{#each responses}}
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail responseTile">
				<div class="caption">
					<div class="pull-right dropdown">
						<a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="glyphicon glyphicon-option-vertical responseTileDropdown"></span></a>
						<ul class="dropdown-menu dropdown-menu-right">
							<li><a href="../responses/id/{{this._id}}">View information</a></li>
							<li class="clipboardDropdown" data-clipboard-text="{{this._id}}" style="cursor: hand"><a>Copy reference id</a></li>
							<li><a href="../discussions/id/{{this.original_discussion}}">Go to original discussion</a></li>
						</ul>
					</div>
					<h5 class="responseSampleTitle"><b>{{this.title}}</b></h5>
					<h7 style="font-size: 12px;"><a href="users/{{this.created_by}}">{{this.created_by}}</a></h7>
					</br>
					<p style="
						display: block;
						display: -webkit-box;
						max-width: 100%;
						height: 14px*1.5*3;
						margin: 0 auto;
						font-size: 14px;
						line-height: 1.5;
						-webkit-line-clamp: 5;
						-webkit-box-orient: vertical;
						overflow: hidden;
						text-overflow: ellipsis;">{{this.text}}</p>
					</div>
			</div>
		</div>
	{{/each}}

	</div>
</div>