<div class="container">
	<ol class="breadcrumb">
	  <li><a href="/">Search</a></li>
	  <li><a href="/search?response_query={{response_query}}">{{response_query}}</a></li>
	</ol>
	<h2>{{title}}</h2>

	{{#if discussions}}
		<h2>Discussions with tag "{{this.response_query}}"</h2>
		<div class="list-group">
		{{#each discussions}}
			<p class="list-group-item-heading"><a href="/discussions/id/{{this._id}}" class="list-group-item list-group-item-action"><b>{{this.title}}</b> - {{this.created_by}} - {{this.responses.length}} messages</a></p>
		{{/each}}
		</div>
	{{/if}}

	{{#if responses}}
		{{#if this.response_query}}
			<h2>Responses containing the keyword "{{this.response_query}}"</h2>
		{{/if}}
		<div class="row">
			{{#each responses}}
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail responseTile">
						<div class="caption">
							<div class="pull-right dropdown">
								<a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="glyphicon glyphicon-option-vertical responseTileDropdown"></span></a>
								<ul class="dropdown-menu dropdown-menu-right">
									<li><a href="../responses/id/{{this._id}}">View information</a></li>
									<li class="clipboardDropdown" data-clipboard-text="{{this._id}}" style="cursor: hand"><a>Copy reference id</a></li>
									<li><a href="../discussions/id/{{this.original_discussion}}">Go to original discussion</a></li>
								</ul>
							</div>
							<h5 class="responseSampleTitle"><b>{{this.title}}</b></h5>
							<h7 style="font-size: 12px;"><a href="users/{{this.created_by}}">{{this.created_by}}</a></h7>
							</br>
							<p style="
								display: block;
								display: -webkit-box;
								max-width: 100%;
								height: 14px*1.5*3;
								margin: 0 auto;
								font-size: 14px;
								line-height: 1.5;
								-webkit-line-clamp: 5;
								-webkit-box-orient: vertical;
								overflow: hidden;
								text-overflow: ellipsis;">{{this.text}}</p>
							</div>
					</div>
				</div>
			{{/each}}
		</div>
	{{/if}}
</div>