<div class="container">
	<h2><a href="/users/{{user._id}}">{{user.username}}</a></h2>	
	<h6 id="user-join-date"></h6>
	<h4>Responses</h4>
	{{#each responses}}
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail responseTile">
				<div class="caption">
					<div class="pull-right dropdown">
						<a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="glyphicon glyphicon-option-vertical responseTileDropdown"></span></a>
						<ul class="dropdown-menu dropdown-menu-right">
							<li><a href="../responses/id/{{this._id}}">View information</a></li>
							<li class="clipboardDropdown" data-clipboard-text="{{this._id}}" style="cursor: hand"><a>Copy reference id</a></li>
							<li><a href="../discussions/id/{{this.original_discussion}}">Go to original discussion</a></li>
						</ul>
					</div>
					<h5 class="responseSampleTitle"><b>{{this.title}}</b></h5>
					</br>
					<p style=" display: block; /* Fallback for non-webkit */
				  display: -webkit-box;
				  max-width: 100%;
				  height: 14px*1.5*3; /* Fallback for non-webkit */
				  margin: 0 auto;
				  font-size: 14px;
				  line-height: 1.5;
				  -webkit-line-clamp: 5;
				  -webkit-box-orient: vertical;
				  overflow: hidden;
				  text-overflow: ellipsis;">{{this.text}}</p>
				</div>
			</div>
		</div>
	{{/each}}
</div>
<script>
	var date = new Date('{{user.created_on}}').toDateString();
	$(document).ready(function(){
		$('#user-join-date').text("Joined " + date);
	})
</script>